spring:
  application:
    name: pms-transactional

  datasource:
    url: jdbc:postgresql://${DB_HOST:db-instance-pms.cvk4yqey0ex7.us-east-2.rds.amazonaws.com}:${DB_PORT:5432}/${DB_NAME:pms-transactional}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:PMS.2025}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  devtools:
    restart:
      enabled: false
  kafka:
    admin:
      enabled: false
    
      
server:
  port: 8084

logging:
  level:
    # root: INFO
    com.pms: INFO
    # org.hibernate.SQL: DEBUG
    # org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
